body {
	background-image: url('../images/bkg.jpg');
	background-repeat: repeat-x;
}

#abstract-jolie {
  margin-top:20px;
  margin-bottom:20px;
  font-size:16px;
  background-color:#f6ecd5;
  padding:20px;
  margin-left:20px;
  border:1px;
  border-color:#226b68;
  border-style:solid;
  border-radius:10px;
}

#header {
	font-size: 14pt;
	font-weight: bold;
	
}

#head {
	
}

#head-right {
	background: -moz-linear-gradient(bottom,  #2b8582,  #2eb0ab);
	background: -webkit-gradient(linear, left top, left bottom, from(#2eb0ab), to(#2b8582));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#2b8582');
	/*background-color:#2b8582;*/
	border-top-right-radius: 10px;
	height:160px;
	border:1px;
	border-color:#226b68;
	border-style:solid;
}

#head-right-decoration {
	background: -moz-linear-gradient(bottom,  #2b8582,  #2eb0ab);
	background: -webkit-gradient(linear, left top, left bottom, from(#2eb0ab), to(#2b8582));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b8582', endColorstr='#2eb0ab');
	height:10px;
	border-bottom:1px;
	border-right:1px;
	border-left:1px;
	border-color:#226b68;
	border-style:solid;
}


#slogan {
	font-size:16px;
	color:white;
	font-weight: bold;
	padding-left:150px;
}

#wrapper {
	font-family: 'Quattrocento Sans', sans-serif;
	border: solid 2px #2b8582;
	background: #FFFFFF;
	border-radius:10px;
	moz-box-shadow: 10px 10px 15px #444;
	-webkit-box-shadow: 10px 10px 15px #444;
	box-shadow: 10px 10px 15px #444;
	
}

#left-column {
	font-size:12px;
	padding-top:20px;
	background-color:#EEEEEE;
	border: solid 1px #226b68;
	border-bottom-left-radius:10px;
	border-top-left-radius:10px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b8582', endColorstr='#2eb0ab');
	height: 800;
	margin-bottom:20px;
}

#logo {
  padding-left:8px;
}

#news {
  padding-left:15px;
  padding-bottom:10px;
  margin-bottom:20px;
  font-size:16px;
}

#news h1 {
	font-size:18px;
	font-weight:bold;
	color:#AA0000;
	padding:0px;
	margin:0px;
}

#news h2 {
	font-size:14px;
	font-weight:bold;
	color:#000000;
}


#for {
  padding-left:15px;
  padding-bottom:10px;
  margin-bottom:20px;
  font-size:14px;
}

#for h1 {
	font-size:18px;
	font-weight:bold;
	color:#AA0000;
	padding:0px;
	margin:0px;
}

#for h2 {
	font-size:14px;
	font-weight:bold;
	color:#000000;
}

#menu a {
  padding-right: 20px;
  font-size:16px;
  color: black;
  text-decoration:none;
}

#menu a:hover{
  color:#2b8582;
}

.HeaderTitle {
	font-size: 14pt;
	font-weight: bold;
	margin: 5px;
	padding: 5px;
/* 	line-height: 100%; */
/* 	border-radius: 2em; */

/* 	-webkit-border-radius: 2em; */
/* 	-moz-border-radius: 2em; */
	
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);

	background: #99BBCC; /* for non-css3 browsers */
	/*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#99BBCC', endColorstr='#7799AA');*/ /* for IE */
	background: -webkit-gradient(linear, left top, right top, from(#A8A8A8), to(#E3E3E3));
	
	background: -moz-linear-gradient(right,  #A8A8A8,  #E3E3E3);

	border: solid 1px #6d6d6d;
}

.SectionTitle {
	font-size: 14pt;
	font-weight: bold;
	margin: 5px;
	padding: 5px;
	border-bottom: 1px solid black;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.SectionContent {
/* 	background: #82A7B9; */
/* 	padding: 7px; */
/* 	margin-bottom: 2em; */
	border: 1px solid black;

	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
}

#body a {
/* 	font-weight: bold; */
	color: black;
	
	background: #D0CDCC;
	
	padding: 0.15em;
	
	-webkit-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	
	text-decoration: none;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

#body a:hover {
	background: #9A9A9A;
}

#body a:visited {
	color: black;
}

#nav {
	margin: 0;
	padding: 2px 1px 0;
 	line-height: 100%;
	border-radius: 2em;

	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);

	background: #8b8b8b; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9a9a9', endColorstr='#7a7a7a'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#a9a9a9), to(#7a7a7a)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #a9a9a9,  #7a7a7a); /* for firefox 3.6+ */

	border: solid 1px #6d6d6d;
}

#nav li {
 	margin: 0 2px; 
 	padding: 0 0 2px;
	float: left;
	position: relative;
	list-style: none;
}

/* main level link */
#nav a {
	font-weight: bold;
	color: #e7e5e5;
	text-decoration: none;
	display: block;
	padding:  8px 20px;
	margin: 0;
	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

/* main level link hover */
#nav .current, #nav li:hover > a {
	background: #d1d1d1; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#a1a1a1'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#a1a1a1)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ebebeb,  #a1a1a1); /* for firefox 3.6+ */

	color: #444;
	border-top: solid 1px #f8f8f8;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}

/* clearfix */
#nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.LongTextContainer {
	text-align: justify;
}


ul {
	margin: 0;
}

#body {
	margin-top: 5px;
	font-size: 12pt;
	text-align: justify;
	margin-bottom: 5px;
	/* Fallback for old browsers */
/* 	background: #A9E8FD; */

	/* IE */
/* 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); */
	
	/* Webkit (Safari, Chrome, ...) */
/* 	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#000)); */
	
	/* Firefox */
/* 	background: -moz-linear-gradient(top,  #A9E8FD,  #88BBCC); */
}