.BlogDateGroup {
	border-bottom: 1px solid gray;
/* 	margin-top: 1em; */
	margin-bottom: 1em;
	margin-right:auto;
	margin-left:auto;
}

.BlogEntry {
	margin-bottom: 1em;
	font-size: large;
	margin-right:auto;
	margin-left:auto;
}

.BlogEntryAuthor {
	font-size: large;
}

.BlogEntryTitle {
	font-size: xx-large;
}

.BlogEntryContent {
 	font-size: 24px;
}

.BlogEntrySeparator {
	width: 100%;
	height: 0.5em;
/* 	border: none; */
	margin-bottom: 1em;
/* 	margin-top: 1em; */
}