.BlogDateGroup {
	border-bottom: 1px solid gray;
/* 	margin-top: 1em; */
	margin-bottom: 1em;
}

.BlogEntry {
	margin-bottom: 1em;
	font-size: large;
}

.BlogEntryAuthor {
	font-size: large;
}

.BlogEntryTitle {
	font-size: x-large;
}

.BlogEntryContent {
/* 	font-size: large; */
}

.BlogEntrySeparator {
	width: 100%;
	height: 0.5em;
	background-color: #EDEFEC;
	border: none;
	margin-bottom: 1em;
/* 	margin-top: 1em; */
}