
#download .block {
	display: inline-block;
	transition: 0.4s;
	padding: 20px;
	border-radius: 5px;
}

#download .number{
	width: 100px;
	height: 100px;
	font-size: 65px;
	text-shadow: 1px 1px 5px #3333336e;
	color: white;
	border-radius: 50%;
	float: left;
	background-color: #6c757d80;
}

#download .right {
	display: inline-block;    
	margin: 8px 0px 0px 30px;
	float: left;
	width: 385px;
}

#download .description{
	color: gray;
	font-size: 18px;
}

#download .description .btn{
    display: block;
    margin: 20px auto;
}

#download .call-to-action{    
	width: 80px;
	height: 80px;
	border-right: 8px solid transparent;
	border-top: 8px solid transparent;
	transform: rotate(45deg);
	float: left;
	margin: 30px 10px 0px 85px;
	display: inline-block;
}

#download .number-highlighted{
	background-color: #28a745;
}