#header {
	border-bottom: 0.05em solid #aaa;
	font-size: large;
/* 	height: 120px; */
	padding: 1em;
}

/*
 * Adds the height of the header, to avoid covering the body. See the relative javascript in site.js
 */

/* body { padding-top: 150px; } */

#header-jolie-logo {
	background: url(../imgs/eye_i.png);
	background-size: auto 100%;
	background-position: center; 
	background-repeat: no-repeat;
	height: 100px;
}

#header-nav-menu a {
	color:#555;
}

#header-nav-menu li {
	margin: 0.1em;
}

#header-nav-menu a:hover {
	background-color: transparent;
	color: black
}

#header-nav-menu li .active {
	color:black
}



