
/* General */

h1{
	margin-bottom: 30px;
}



#landing{
	background-image: url('../imgs/headbkg.jpg');
	background-size: cover;
	color: white;
	text-shadow: 1px 1px 4px #5f5f5f8c;
	border-bottom: 1px solid orange;
}

.section{
	padding: 25px 30px 40px 30px;
}

.background-intermed{
	background-color: #e2e0e026;
}

#technical-tutorials,
#stories,
#paths-and-news{
	border-bottom: 1px solid #ccc;
}

/* Landing section */

.jolie-logo{
	margin-top: 47px;
	float: left;
}

.logo{
	margin-top: 25px;
}

.jolie-title{
	text-align: center;
	font-size: 160px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.jolie-subtitle{
	text-align: center;
	font-size: 30px;
	margin-top: -20px;
}

.call-to-action {
	margin-top: 9%;
}

.call {
	font-size: 55px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.call-sub{
	font-size: 20px;
}

.actions{
	margin-bottom: 40px;
}

.btn.what{
	margin-left: 5px;
	margin-top: -1px;
}

.btn.what,
.btn.download{
	margin-top: 20px;
	width: 220px;
	margin-left: 3%;
}

.btn.what {
	background-color: #702323;
	color:white;
}

/* Gateway section */

.card{
	height: 360px;
}

.card-img-top{
	height: 180px;
	background-color: #ccc;
}

.card .btn{
	width: 90%;
	bottom: 18px;
	position: absolute;
	left: 5.5%;
}

.cards-intro{
	width: 95.5%;
	text-align: center;
	padding: 15px;
	margin-top: -10px;
	font-size: 120%;
}

.img-businessman{
	width: 58%;
}

.card-img-top-businessman{
	background-color: #78f15a73;
}

.img-it-manager{
	width: 84%;
	margin-top: -29px;
}

.card-img-top-it-manager{
	background-color: #abe3f873;
}

.img-developer{
	width: 62%;
}

.card-img-top-developer{
	background-color: #f2f55682;
}

/* Microservices */

#microservices{
	background-color: rgba(0, 126, 255, 0.73);
	color: white;
	text-shadow: 1px 1px 4px #5f5f5f8c;
	border-top: 1px solid rgb(0, 126, 255);
	border-bottom: 1px solid rgb(0, 126, 255);
}

.microservices-more {
	float: right;
	margin: 25px 20px 0px 0px;
}

.microservices-title-focus {
	display: block;
	background-color: orange;
	padding: 4px 15px;
	font-size: 28px;
	margin-bottom: 15px;
	width: fit-content;
	border: 1px solid orange;
	border-radius: 4px;
}

.microservices-title{
	font-size: 55px;
}

.microservices-title-sub{
	font-size: 25px;
}

.btn-outline-light:active,
.btn-outline-light:hover{
	text-shadow: none!important;
	color: #1987f7;
}

/* Carousel */

#myCarousel{
	margin: 0 auto;
	text-shadow: 1px 1px 3px #403b3b;
}

#myCarousel .carousel-item {
	height: 300px;
}

/* Techical Paths & News */

#academy .align-items-start,
#paths-and-news .align-items-start{
	height: 105px!important;
}

.news-pinned{
	width: 21px;
	margin-top: -8px;
	margin-right: 7px;
}
