
#install-guide ol {
	margin:0 0 1.5em;
	padding:0;
	counter-reset:item;
}

#install-guide ol>li {
	margin:0;
	padding:0 0 0 2em;
	text-indent:-2em;
	list-style-type:none;
	counter-increment:item;
}

#install-guide ol>li:before {
	display:inline-block;
	width:1.5em;
	padding-right:0.5em;
	font-weight:bold;
	text-align:right;
	content:counter(item) ".";
}

#install-guide .indented{
	margin-left: 55px;
	margin-top: 5px;
	color: gray;
}

#install-guide .ready-message{
	margin: 30px 0px 20px 0px;
}

#install-guide .setup-ide{
	margin: 50px auto;
	display: table;
}