.landing-img {
	max-width: 100%;
}

.landing-motto {
	font-size: 1.35em;
	font-style: italic;
	font-weight: bold;
	text-align: right;
	padding-top: 1em;
	padding-bottom: 1em;
	color: white;
}

.landing-page h1 {
	border: none;
	font-size: 600%;
	color: #444;
	font-weight: bold;
	text-align: left;
	font-family: Roboto, Helvetica, Arial;
	margin:0px;
	padding:0px;
}

.landing-page h2 {
	color: #444;
	font-size: 250%;
	text-align: left;
}


.landing-page {
	margin-left: auto;
	margin-right: auto;
	float: none;
	font-size: 120%;
}

.full-width {
	width: 100%;
}

.landing-banner-transparent {
	border-bottom: 0.05em solid #C4C4C4;
	padding: 2em;
}

.landing-banner-separator {
	border-bottom: 0.05em solid #C4C4C4;
	padding: 1em;
}


.landing-banner-light {
	padding: 2em;
	color: #555;
	border-bottom: 0.05em solid #C4C4C4;
	font-size: 1.2em;
}

.landing-banner-light h2 {
	color: #444 !important;
	font-weight:bold;
	width: 90%;

}

.next-container {
	width: 100%;
	text-align: right;
	padding-left: 2em;
	margin-bottom: -2em;	
}

.next {
	padding: 0.5em;	
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	font-size: 0.7em;
	border: 0.1em solid #A80C1E;
	border-radius: 4em;
	background: white;
	/*-webkit-transition: background-color 1s;
	transition: background-color 1s;
	-webkit-transition: color 1s;
	transition: color 1s;*/
}

.next:hover {
	cursor: pointer;
	text-decoration: none;
	background-color: #A80C1E;
	color: white;
}

#section0 a {
	margin-right: 0.5em;
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    /* border-radius: 1em; */
    background-color: #FE9A2E;
    opacity: 0.9;
    color: black;
    border: 1px solid #440000;
    float: left;
    width: 31%;
    text-align: left;
}

#section0 a:hover {
	background-color: #B45F04;
	cursor: pointer;
	text-decoration: none;
}

#section9 h3 {
	font-size: 1.15em;
	color: white;
}

.keyword {
	color: black;
	font-weight: bold;
}

.string {
	color: red;
}

pre {
	box-shadow: 5px 5px 10px #999;
}
