.landing-img {
	max-width: 100%;
}

.landing-motto {
	font-size: 1.35em;
	font-style: italic;
	font-weight: bold;
	text-align: right;
	padding-top: 1em;
	padding-bottom: 1em;
	color: white;
}

.landing-page h1 {
	border: none;
	font-size: 320%;
	color: white;
	font-weight: bold;
	text-shadow: 0 0.05em 0 rgba(0, 0, 0, 1);
	text-align: left;
	font-family: Helvetica, Arial;
}

.landing-page h2 {
	color: white;
	font-weight: bold;
	text-shadow: 0 0.05em 0 rgba(0, 0, 0, 1);
	font-size: 150%;
}

.landing-page {
	background-image: url('../imgs/stars.jpg');
	background-size: cover;
	background-attachment: fixed;
}

.landing-page {
	margin-left: auto;
	margin-right: auto;
	float: none;
	font-size: 120%;
}

.full-width {
	width: 100%;
}

.landing-banner-transparent {
	border-bottom: 0.05em solid #C4C4C4;
	padding: 2em;
}

.landing-banner-separator {
	border-bottom: 0.05em solid #C4C4C4;
	padding: 1em;
}

.landing-banner-dark {
	background: -moz-linear-gradient(top,  #443637 0%, #050000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#443637), color-stop(100%,#050000));	
	background: -webkit-linear-gradient(top,  #443637 0%,#050000 100%);
	background: -o-linear-gradient(top,  #443637 0%,#050000 100%);		
	background: -ms-linear-gradient(top,  #443637 0%,#050000 100%);
	background: linear-gradient(to bottom, #443637 0%,#050000 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#443637', endColorstr='#050000',GradientType=0 );
	border-bottom: 0.05em solid #C4C4C4;
	color: #bbb;
	padding: 2em;
/* 	font-size: 1.2em; */
}

.landing-banner-light {
	padding: 2em;
	background: -moz-linear-gradient(top,  white 0%, #ccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white), color-stop(100%,#ccc));	
	background: -webkit-linear-gradient(top,  white 0%,#ccc 100%);
	background: -o-linear-gradient(top,  white 0%,#ccc 100%);		
	background: -ms-linear-gradient(top,  white 0%,#ccc 100%);	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='white', endColorstr='#ccc',GradientType=0 );
	background: linear-gradient(to bottom, white 0%,#ccc 100%);border-bottom: 0.2em solid #C4C4C4;
	color: #555;
/* 	font-size: 1.2em; */
}

.landing-banner-light h2 {
	color: black;
	text-shadow: 0 0.02em 0 lightgrey;
	width: 90%;
}

.next-container {
	width: 100%;
	text-align: right;
	padding-left: 2em;
	margin-bottom: -2em;	
}

.next {
	padding: 0.5em;	
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	font-size: 0.7em;
	border: 0.1em solid #A80C1E;
	border-radius: 4em;
	/*-webkit-transition: background-color 1s;
	transition: background-color 1s;
	-webkit-transition: color 1s;
	transition: color 1s;*/
}

.next:hover {
	cursor: pointer;
	text-decoration: none;
	background-color: #A80C1E;
	color: white;
}

#section0 a {
	margin-right: 0.5em;
	padding: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-radius: 1em;
	background-color: #FE9A2E;
	opacity: 0.9;
	font-weight: bold;
	color: white;
	border: 0.20em solid #B45F04;
	float: left;
}

#section0 a:hover {
	background-color: #B45F04;
	cursor: pointer;
	text-decoration: none;
}

#section9 h3 {
	font-size: 1.15em;
	color: white;
}

.keyword {
	color: black;
	font-weight: bold;
}

.string {
	color: red;
}
