.slide {
	padding-top: 1em;
	padding-bottom: 1em;
}

.slide-title {
	font-size: 120%;
	font-weight: bold;
	color: black;
/* 	padding-top: 1em; */
}

.slide-created {
	font-size: 70%;
}

.slide-description {    
/* 	padding-top: 2em; */
	font-style: italic;
}