@import url("blogs.css");
@import url("header.css");
@import url("text.css");
@import url("landing-page.css");

.download {
	border-radius: 20px;
	background-image: url(../imgs/download-icon.png);
	background-repeat: no-repeat;
	background-size: contain;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 5em;
	padding-right: 0.5em;
	border: 2px solid #A80C1E;
	display: inline-block;
}

.download:hover {
	background: #D3B5B6;
	background-image: url(../imgs/download-icon.png);
	background-repeat: no-repeat;
	background-size: contain;
/* 	color: black; */
}

body {
	font-size: large;
	text-align: justify;
}

.page-content {
	padding-top: 1em;
	padding-bottom: 1em;
}

.vertical-align {
    display: flex;
    align-items: center;
}

#footer {
	font-size: smaller;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 50px;
	color: #777;
	text-align: center;
	border-top: 1px solid #e5e5e5;
}
