@import url("blogs.css");
@import url("header.css");
@import url("text.css");
@import url("landing-page.css");

.download {
	border-radius: 20px;
	text-align: center;
	background: white;
	color: #79140a;
	width: auto;
	background-image: url(../imgs/download.png);
	padding: 20px 60px;
	height:80px; 
	background-repeat: no-repeat;
	background-position: 10px;
/* 	margin-bottom: 20px;	 */
	border:1px solid #ccc;
}

.download a {
	margin-left: 100px;
	padding-top: 40px;
	padding: 30px;
	font-size: large;	
	font-weight: bold;
}

.download a:hover {	
	color:#79140a !important;	
}


body {
	font-size: large;
	text-align: justify;
/* 	font-family: serif; */
}

.page-content {
	padding-top: 1em;
	padding-bottom: 1em;
}

.vertical-align {
    display: flex;
    align-items: center;
}

#footer {
	font-size: smaller;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 50px;
	color: #777;
	text-align: center;
	border-top: 1px solid #e5e5e5;
}
