
body{
	cursor: default;
}

.clear{
	clear: both;
}

.float-left{
	float: left;
}

.badge-warning,
.btn-outline-warning:active,
.btn-outline-warning:hover{
	color: white!important;
}

.badge-secondary {
    background-color: #a4a4a5!important;
}