h1 {
	color: #A80C1E;
	font-size: 250%;
	letter-spacing: -0.05em;
	line-height: 1em;
	padding-bottom: 0.1em;
	border-bottom: 1px solid gray;
	margin-top: 1em;
	margin-bottom: 0.5em;
/* 	font-family: serif; */
}

h2 {
	font-size: xx-large;
/* 	color: #666666; */
	margin-top: 1em;
/* 	margin-bottom: 1em; */
}

h3 {
	font-size: x-large;
	color: #666666;
/* 	padding-left: 0.5em; */
	font-style: italic;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

a {
	color: #A80C1E;
	text-decoration: none;
}

a:hover {
	color: #A80C1E;
	text-decoration: underline;
}
