h1 {
	color: #A80C1E;
	padding-bottom: 0.2em;
	border-bottom: 0.05em solid gray;
	margin-bottom: 0.5em;
	padding-top:0.4em;
}

a {
	color: #A80C1E;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
	